.cover__overlay {
  background-color: rgba(42, 44, 47, 0.3);
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  max-width: 100vw;
  min-height: 740px;
  box-sizing: border-box;
  text-decoration: none;
  transition: background-color 0.2s linear;
}

.cover__overlay:hover {
  background-color: rgba(42, 44, 47, 0.8);
}

@media screen and (max-width: 1279px) {
  .cover__overlay {
    min-height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__overlay {
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover__overlay {
    min-height: 200px;
  }
}
